/* .container {
    height: 200px;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
} */

.btn {
    display: block;
    margin: 5px;
}

/* This style s for the timer in the top right corner */
#topcorner {
    position: absolute;
    right: 100px;
}

/* Changes submit-button color from green to blue */
#submit-button {
    background-color: rgb(0, 132, 255);
    right: 100px;
}

#h2 {
    right: 100px;
}