/* .container {
    height: 200px;
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
} */
.btn {
    display: block;
    margin: 5px;
}

#topcorner {
    position: absolute;
    right: 100px;
}